<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <center>
        <form action="http://0.0.0.0:5000/searchDir" method="post">
            <label for="searchDir" id="lbl1">search Directories</label>
            <input id="searchDir" name="txt1">
            <button type="submit">search</button>
        </form>
    </center>
</body>
<script>
    
</script>
</html>